DB_URL=your_value_here
DB_PORT=your_value_here
DB_NAME=your_value_here
DB_USERNAME=your_value_here
DB_PASSWORD=your_value_here
CLOUDINARY_NAME=your_value_here
CLOUDINARY_API_KEY=your_value_here
CLOUDINARY_API_SECRET=your_value_here
CLOUDINARY_URL=your_value_here
AI_SERVICE_URL=your_value_here